{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 128,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "semi": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 256
      }
    }
  ]
}
